.buy {
    text-align: center;

    background-color: #f5f5f8;

    &__wrapper {
        @include container(570px);
        padding: 0 0 120px 0;

        & > h2 {
            margin: 0;
            padding: 0;
            padding-bottom: 60px;

            @include font($varela, 42px, $regular, #26272d);
        }

    }

    &__brand-title, &__download-title {
        display: block;
        padding-bottom: 30px;

        @include font($lato, 12px, $bold, #8c8f94);
        text-transform: uppercase;
    }

    &__download-title {
        padding-top: 30px;
    }

    &__email {
        width: 510px;
        height: 46px;
        margin: 0 30px;
        padding: 2px;

        border-radius: 25px;
        border: 1px solid #cbcbce;

        & > input {
            margin-left: 18px;
            margin-right: 20px;
            width: 296px;

            color: #3a3d4b;

            background-color: transparent;

            outline: none;
            border: none;

            &::placeholder {
                color: #8c8f94;
            }
        }

        & > button {
            position: relative;

            display: inline-block;
            height: 40px;
            width: 165px;
            padding-left: 25px;
            padding-right: 48px;

            @include font($lato, 16px, $regular, #26272d);
            text-decoration: none;
            color: #fff;

            background-color: #6fc754;
            border-radius: 20px;
            border: 0;

            outline: 0;

            &::after {
                position: absolute;
                top: 14px;
                right: 25px;

                font: normal normal normal 14px/1 FontAwesome;

                content: "\f061";
            }
        }
    }

    &__app-store > a {
        position: relative;

        display: inline-block;
        padding: 10px 30px 0 74px;
        height: 60px;

        @include font($lato, 12px, $regular, #fff);
        text-align: left;
        text-decoration: none;

        background-color: #131315;
        border-radius: 30px;

        & > span {
            display: block;

            &:last-of-type {
                font-size: 23px;
                line-height: 20px;
            }
        }

        &::before {
            position: absolute;
            top: 15px;
            left: 30px;

            font: normal normal normal 28px/1 FontAwesome;
            color: #fff;

            content: "\f179";
        }
    }
}