.copyright-footer {
    &__wrapper {
        @include container($container-width);

        padding: 20px 0;

        &::after {
            @include clearfix();
        }
    }

    &__left {
        float: left;
        font-size: 0;

        span {
            @include font($lato, 14px, $regular, #8c8f94);

            display: inline-block;
            line-height: 40px;

            a {
                color: #267df4;
            }
        }

    }

    &__right {
        float: right;
        font-size: 0;

        span {
            @include font($lato, 9px, $bold, #26272d);
            text-transform: uppercase;

            display: inline-block;
            vertical-align: middle;
            line-height: 40px;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            line-height: 40px;

            padding-left: 10px;
        }
    }
}