.customers {
    &__wrapper {
        @include container(570px);
        padding: 120px 0;
    }

    &__user-pics {
        width: 570px;
        margin: 0 auto;

        font-size: 0;
        text-align: center;
    }

    &__img {
        width: 90px;
        height: 90px;

        border-radius: 50%;
        opacity: 0.2;

        &--active {
            margin: 0 130px;
            width: 130px;
            height: 130px;

            opacity: 1;
            box-shadow: 0 40px 40px 0 rgba(92, 95, 101, 0.3);
        }
    }

    &__review {
        margin: 0 auto;
        width: 570px;

        text-align: center;
    }

    h3 {
        margin: 0;
        padding-top: 60px;
        padding-bottom: 30px;

        @include font($lato, 26px, $light, #26272d);
    }

    p {
        padding: 0;
        margin: 0;

        @include font($lato, 18px, $regular, #8c8f94, 28px);

        &:not(:last-of-type) {
            padding-bottom: 15px;
        }
    }

    &__rating {
        margin: 30px auto 60px auto;
        height: 22px;
        width: 155px;

        font-size: 0;
    }

    &__star {
        display: inline-block;

        font: normal normal normal 24px/1 FontAwesome;
        color: #f2bc3b;

        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }

    &__name {
        display: block;

        @include font($lato, 12px, $bold, #26272d);
        text-transform: uppercase;
    }
}