.header-menu {
    width: 470px;

    &__list {
        margin: 0;

        list-style: none;

        &::after {
            @include clearfix();
        }
    }

    &__item {
        display: block;

        & > a {
            @include font($lato, 16px, $regular, #26272d);
            text-decoration: none;

            &:hover {
                color: #267df4;
            }
        }

        &--app > a {
            position: relative;

            padding: 15px 20px 15px 47px;

            color: #fff;

            background-color: #267df4;
            border-radius: 25px;

            &::before {
                position: absolute;
                top: 14px;
                left: 20px;

                font: normal normal normal 20px/1 FontAwesome;
                color: #fff;

                content: "\f179";
            }

            &:hover {
                color: #fff;
            }
        }

        &::after {
            @include clearfix();
        }
    }

    &--left {
        margin-right: $column-margin;

        & .header-menu__item {
            float: left;

            &:not(:last-of-type) {
                margin-right: 40px;
            }
        }
    }

    &--right {
        margin-left: $column-margin;

        & .header-menu__item {
            float: right;

            &:not(:first-of-type) {
                margin-right: 40px;
            }
        }
    }

}