.hero {
    min-height: 600px;
    
    &__wrapper {
        position: relative;

        @include container($container-width);

        text-align: center;

        overflow: hidden;
    }

    h1 {
        margin: 0;
        padding-top: 55px;
        padding-bottom: 55px;

        @include font($varela, 62px, $regular, #26272d);
    }

    p {
        display: block;
        width: 830px;
        margin: 0 auto;

        @include font($lato, 20px, $regular, #8c8f94, 28px);
    }

    &__btn {
        position: relative;

        display: inline-block;
        padding: 0 40px 0 60px;
        margin-top: 60px;
        height: 50px;

        @include font($lato, 16px, $regular, #26272d);
        text-decoration: none;
        line-height: 50px;

        border: 1px solid #d9dcde;
        border-radius: 25px;
        background-color: transparent;

        outline: 0;

        &::before {
            position: absolute;
            top: 20px;
            left: 40px;

            font: normal normal normal 12px/1 FontAwesome;

            content: "\f04b";
        }
    }

    &__desc {
        margin-bottom: 500px;
    }

    img {
        position: absolute;
        left: 50%;
        bottom: -310px;

        margin-left: -184px;
    }
}