.main-footer {
    &__wrapper {
        @include container($container-width);
        padding: 120px 0;

        border-bottom: 1px solid rgb(244, 244, 244);

        &::after {
            @include clearfix();
        }
    }

    &__about-block {
        float: left;
        width: 270px;
        margin-right: 330px;

        p {
            margin: 0;
            padding: 30px 0;

            @include font($lato, 14px, $regular, #8c8f94, 24px);
        }
    }

    &__menu-block {
        float: left;
        width: 170px;

        &:not(:last-of-type) {
            margin-right: 30px;
        }

        & span {
            display: block;
            margin-bottom: 30px;

            @include font($lato, 12px, $bold, #26272d);
            text-transform: uppercase;
        }

    }

    &__menu-list {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__menu-item {
        margin-bottom: 15px;

        a {
            @include font($lato, 16px, $regular, #8c8f94);
            text-decoration: none;

            &:hover {
                color: #26272d;
            }
        }
    }

    &__social {
        padding-top: 30px;
    }

    &__social-list {
        margin: 0;
        padding: 0;

        font-size: 0;

        list-style: none;

        li {
            display: inline-block;

            &:not(:last-of-type) {
                margin-right: 15px;
            }
        }

        i {
            font: normal normal normal 18px/1 FontAwesome;
            color: #26272d;

            opacity: 0.3;

            &:hover {
                opacity: 1;
            }
        }
    }
}