.map-feature {
    position: relative;

    overflow: hidden;

    &__wrapper {
        @include container($container-width);
        padding: 260px 0;

        &::after {
            @include clearfix();
        }
    }

    &__map-pic {
        position: absolute;
        top: 120px;
        left: 50%;
    }

    &__block {
        width: 470px;
        float: left;

        h2 {
            padding: 0;
            margin: 0;
            padding-bottom: 60px;

            @include font($varela, 42px, $regular, #26272d);
        }

        p {
            padding: 0;
            margin: 0;

            @include font($lato, 20px, $regular, #8c8f94, 28px);

            &:not(:last-of-type) {
                padding-bottom: 15px;
            }
        }

    }

    &__partners {
        span {
            display: block;
            padding-top: 60px;
            padding-bottom: 30px;

            @include font($lato, 12px, $bold, #26272d);
            text-transform: uppercase;
        }

        img:first-of-type {
            margin-right: 20px;
        }
    }
}