.plan-switch {
    display: block;
    height: 50px;
    width: 256px;
    padding: 2px;
    margin-bottom: 60px;

    font-size: 0;

    border-radius: 25px;
    border: 1px solid #d5d6d7;

    &__item {
        display: inline-block;
        width: 125px;
        padding: 0 25px;

        @include font($lato, 16px, $regular, #b5b5b7);
        line-height: 44px;

        border-radius: 25px;

        &--active {
            color: #26292c;
            background-color: #fff;

            box-shadow: 0 5px 20px 0 rgba(61, 61, 62, 0.15),
                        0 30px 50px 0 rgba(92, 95, 101, 0.3);

        }
    }
}