.plan {
    background-color: #f4f4f5;

    &__wrapper {
        @include container($container-width);
        padding: 120px 0;

        &::after {
            @include clearfix();
        }
    }

    &__choose-block {
        width: 340px;
        margin-right: 130px;
        float: left;

        h2 {
            padding: 0;
            margin: 0;
            padding-bottom: 60px;

            @include font($varela, 42px, $regular, #26272d);
        }

        p {
            padding: 0;
            margin: 0;
            padding-bottom: 30px;

            @include font($lato, 18px, $regular, #8c8f94, 28px);
        }

    }

    &__team {
        @include font($lato, 14px, $regular, #8c8f94);

        a {
            color: #267df4;
        }
    }

    &__you {
        display: block;
        margin-bottom: 20px;

        @include font($lato, 12px, $bold, #26272d);
        text-transform: uppercase;
    }

    &__plans-block {
        width: 670px;
        float: left;

        &::after {
            @include clearfix();
        }
    }
}