.subscribe {
    &__wrapper {
        @include container($container-width);
        padding: 120px 300px;

        text-align: center;

        border-bottom: 1px solid rgb(244, 244, 244);

        & > h2 {
            padding: 0;
            margin: 0;
            padding-bottom: 60px;

            @include font($varela, 42px, $regular, #26272d);
        }

    }

    &__email {
        width: 510px;
        height: 46px;
        margin: 0 30px;
        padding: 2px;

        border-radius: 25px;
        border: 1px solid #cbcbce;

        & > input {
            width: 296px;
            margin-left: 18px;
            margin-right: 20px;

            color: #3a3d4b;

            background-color: transparent;

            outline: none;
            border: none;

            &::placeholder {
                color: #8c8f94;
            }
        }

        & > button {
            position: relative;

            display: inline-block;
            height: 40px;
            width: 165px;
            padding-left: 25px;
            padding-right: 25px;

            @include font($lato, 16px, $regular, #26272d);
            text-decoration: none;
            color: #fff;

            border-radius: 20px;
            border: 0;
            background-color: #6fc754;

            outline: 0;
        }
    }

    &__promise {
        display: block;
        padding-top: 30px;

        @include font($lato, 14px, $regular, #8c8f94);
    }
}